# Rust
/target/

# Arch/AUR build artifacts (temporary)
/pkg/
/src/dns-switcher-*/

# build artifacts
*.pkg.tar.zst
*.pkg.tar.zst.sig
*.tar.gz
*.tar.xz
*.old

# Arch/AUR metadata
.SRCINFO

# Editor/System
.vscode/
.idea/
*.swp
.DS_Store
