pkgbase = dns-switcher
	pkgdesc = TUI application for real-time DNS switching on Linux
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/IovAnto/dns-switcher
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = iwd
	depends = systemd
	depends = polkit
	source = dns-switcher-0.2.0.tar.gz::https://github.com/IovAnto/dns-switcher/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 5e4b14a9c3323f8048cc9cca2e6baa50283f86b64a4055b19c5ad4f85c640c04

pkgname = dns-switcher
