pkgbase = dns-switcher
	pkgdesc = TUI application for real-time DNS switching on Linux
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/IovAnto/dns-switcher
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = iwd
	depends = systemd
	depends = polkit
	source = dns-switcher-0.2.0.tar.gz::https://github.com/IovAnto/dns-switcher/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = ed76952bc4115969a452f45e3687bd88b0c5d2b514052f5b805e7a01613fea30

pkgname = dns-switcher
